[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"
pylint = "*"

[packages]
flask = "*"
coverage = "*"
pytest = "*"
python-dotenv = "*"
codecov = "*"
pytest-cov = "*"

[requires]
python_version = "3.7"
